# Customer Review Analysis using NLP/Text Analytics

Data Analysis ,
Sentiment Analysis ,

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
from __future__ import unicode_literals

In [2]:
Amazon_Meta_Data = pd.read_csv('Amazon_Unlocked_Mobile.csv', encoding='utf-8')

In [3]:
Amazon_Meta_Data.head(2)

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0

In [4]:
Amazon_Meta_Data.columns

Index(['Product Name', 'Brand Name', 'Price', 'Rating', 'Reviews',
       'Review Votes'],
      dtype='object')

In [5]:
Amazon_Meta_Data.dtypes

Product Name     object
Brand Name       object
Price           float64
Rating            int64
Reviews          object
Review Votes    float64
dtype: object

In [6]:
Reviews = Amazon_Meta_Data['Reviews']
len(Reviews)

413840

In [7]:
Brand_Name = Amazon_Meta_Data['Brand Name'].str.upper()
Brand_Name.value_counts().head(10)

SAMSUNG       68720
BLU           63256
APPLE         58187
LG            22423
BLACKBERRY    17929
NOKIA         16841
MOTOROLA      13447
HTC           12927
CNPGD         12613
OTTERBOX       7989
Name: Brand Name, dtype: int64

Review Ranting

In [8]:
Customer_Ratings = Amazon_Meta_Data.groupby(
    'Brand Name'
    ).Rating.agg(
        ['count', 'min', 'max']
    ).sort_values(
        'count', ascending=False
    )
Customer_Ratings.head(15)

                count  min  max
Brand Name
Samsung         65747    1    5
BLU             63248    1    5
Apple           58186    1    5
LG              22417    1    5
BlackBerry      16872    1    5
Nokia           16806    1    5
Motorola        13417    1    5
HTC             12724    1    5
CNPGD           12613    1    5
OtterBox         7989    1    5
Sony             7828    1    5
Posh Mobile      6765    1    5
Huawei           3325    1    5
LG Electronics   3105    1    5
samsung          2431    1    5

In [9]:
Product_Ratings = Amazon_Meta_Data.groupby(
    'Product Name'
    ).Rating.agg(
        ['count', 'min', 'max']
    ).sort_values(
        'count', ascending=False
    )
Product_Ratings.head(15)

                                                    count  min  max
Product Name
Apple iPhone 4s 8GB Unlocked Smartphone w/ 8MP ...   1451    1    5
Apple MF259LL/A - iPhone 4s 8GB / 8MP Camera - ...   1241    1    5
BLU Studio 5.0 C HD Unlocked Cellphone, Black        1194    1    5
OtterBox Iphone 5/5S/SE Defender Case w/ Drop a...   1129    1    5
Motorola Moto E (1st Generation) - Black - 4 GB...   1127    1    5
Apple iPhone 5s 32GB (Silver) - AT&T                 1118    1    5
BLU Energy X Plus Smartphone - With 4000 mAh Su...   1111    1    5
Samsung Galaxy S Duos II S7582 DUAL SIM Factory...   1109    1    5
Samsung Galaxy S Duos II GT-S7582 Factory Unloc...   1108    1    5
Samsung Galaxy S Duos GT-S7562 GSM Unlocked Tou...   1096    1    5
Samsung Galaxy S4 i9505 16GB LTE Unlocked Inter...   1095    1    5
Apple iPhone 5s AT&T Cellphone, 16GB, Silver         1080    1    5
Apple iPhone 4S 16GB Unlocked GSM - White (Cert...   1071    1    5
BLU Energy X Plus Smartphone - With 4000 mAh Su...   1061    1    5
Motorola Moto E (1st Generation) - Black - 4 GB...   1057    1    5

Sentimental analysis

In [10]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sample_review = Reviews[:10]

In [11]:
sentiment = SentimentIntensityAnalyzer()

In [12]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/csshreejit/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [13]:
for sentences in sample_review:
    sentences
    ss = sentiment.polarity_scores(sentences)
    for k in sorted(ss):
        print('{0}: {1}, '.format(k, ss[k]))
    print(sentences)

compound: 0.8783,
neg: 0.015,
neu: 0.796,
pos: 0.189,
I feel so LUCKY to have found this used (phone to us & not used hard at all), phone on line from someone who upgraded and sold this one. My Son liked his old one that finally fell apart after 2.5+ years and didn't want an upgrade!! Thank you Seller, we really appreciate it & your honesty re: said used phone.I recommend this seller very highly & would but from them again!!
compound: 0.9231,
neg: 0.072,
neu: 0.597,
pos: 0.331,
nice phone, nice up grade from my pantach revue. Very clean set up and easy set up. never had an android phone but they are fantastic to say the least. perfect size for surfing and social media. great phone samsung
compound: 0.4927,
neg: 0.0,
neu: 0.238,
pos: 0.762,
Very pleased
compound: 0.9185,
neg: 0.0,
neu: 0.5,
pos: 0.5,
It works good but it goes slow sometimes but its a very good phone I love it
compound: 0.2942,
neg: 0.038,
neu: 0.897,
pos: 0.065,
Great phone to replace my lost phone. The only thing is the volume up button does not work, but I can still go into settings to adjust. Other than that, it does the job until I am eligible to upgrade my phone again.Thaanks!
compound: -0.9107,
neg: 0.143,
neu: 0.857,
pos: 0.0,
I already had a phone with problems... I know it stated it was used, but dang, it did not state that it did not charge. I wish I would have read these comments then I would have not purchased this item.... and its cracked on the side.. damaged goods is what it is.... If trying to charge it another way does not work I am requesting for my money back... AND I WILL GET MY MONEY BACK...SIGNED AN UNHAPPY CUSTOMER....
compound: -0.0516,
neg: 0.057,
neu: 0.891,
pos: 0.052,
The charging port was loose. I got that soldered in. Then needed a new battery as well. $100 later (not including cost of purchase) I have a usable phone. The phone should not have been sold in the state it was in.
compound: 0.4486,
neg: 0.087,
neu: 0.709,
pos: 0.204,
Phone looks good but wouldn't stay charged, had to buy new battery. Still couldn't stay charged long.so I trashed it.MONEY lost, never again will I buy from this person! !!!
compound: 0.9491,
neg: 0.023,
neu: 0.848,
pos: 0.129,
I originally was using the Samsung S2 Galaxy for Sprint and wanted to return back to the Samsung EPIC 4G for Sprint because I really missed the keyboard, I really liked the smaller compact size of the phone, and I still needed some of the basic functions of a smart phone (i.e. checking e-mail, getting directions, text messaging) Because the phone is not as powerful as the newer cell phones out there, just be aware that the more applications you install the slower the phone runs and will most likely freeze up from time to time. But the camera works great, the video is great as well, and even the web browsing is decent and gives me what I need. I also notice that battery life lasts a little bit longer and charging the phone is much quicker than my Galaxy S2.
compound: 0.8268,
neg: 0.0,
neu: 0.791,
pos: 0.209,
It's battery life is great. It's very responsive to touch. The only issue is that sometimes the screen goes black and you have to press the top button several times to get the screen to re-illuminate.

In [20]:
user_sent = [input("Enter the text: ")]
for i in user_sent:
    ss = sentiment.polarity_scores(i)
    for k in sorted(ss):
        print('{0}: {1}, '.format(k, ss[k]))
    print(i)

Enter the text: bad battery life
compound: -0.5423,
neg: 0.636,
neu: 0.364,
pos: 0.0,
bad battery life